@font-face {
    font-family: calculator;
    src: url(./Calculator.ttf)
}

h1 {
    color : teal;
}

h3 {
    color: teal;
    text-decoration: underline;
}
input {
    font-family: calculator;
    padding: 1px;
    width: 159px;
    height: 30px;
    margin: 3px;
    background-color: greenyellow;
    font-size: 25px;
    font-weight: 900;
    border-style: groove;
    border-width: 3px;
    border-color: darkgray;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

button {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 30px;
}

#calculator {
    display: inline-block;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 30px;
}

#clearButtonSpot {
    display: inline-block;
}

#cBtn, #acBtn {
    font-size: 20px;
}

#lastCalc {
    font-size: 18px;
    font-weight: bold;
}
